section.login-form {
  border: 2px solid #aaa7a7;
  width: 500px;
  margin: 10px auto;
  padding: 20px;
  border-radius: 5px;
}

.form-row {
  /* border: 1px solid red; */
  margin: 10px;
  padding: 5px;
}

input {
  margin-left: 10px;
}

.form-row > label {
  width: 125px;
  display: inline-block;
}

.form-row:last-child {
  text-align: center;
}

button.login-button {
  border: 1px solid gray;
  padding: 6px;
  width: 100px;
  border-radius: 3px;
  background: #848282;
  color: white;
}

button.login-button:hover {
  background: #101010;
  cursor: pointer;
}

span.radio-group {
  margin-left: 10px;
}
